:root {
  --main-bg-color: white;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.todo-el {
  background-color: pink;
  border: 5px solid var(--main-bg-color);
  width: 250px;
  height: 100%;
  text-align: left;
}

